@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap&family=Roboto');

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header h1 {
  font-family: 'Roboto Mono', monospace;
}

.header-links a {
  color: black;
  text-decoration: none;
  margin: 2rem;
  font-family: 'Roboto Mono', monospace;
  padding: 5px;
}

.header-links a:hover {
  color: #9287FF;
  background-color: black;
}

.intro-me {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20rem;
}

.intro-img {
  width: 50%;
  max-width: 18rem;
}

.intro-txt {
  max-width: 50%;
  font-family: 'Roboto Mono', monospace;
}

.intro-header {
  font-size: 3.2rem;
  font-family: 'Roboto Mono', monospace;
}


.intro-body {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-family: 'Roboto Mono', monospace;
}
